<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
    Nickname: <input type="text" name="nickname"><br><br>

    Jogo:
    <select name="jogo">
        <option value="">Selecione</option>
        <option>Valorant</option>
        <option>Minecraft</option>
        <option>Free Fire</option>
    </select><br><br>

    E-mail: <input type="email" name="email"><br><br>

    <button type="submit">Inscrever</button>
</form>

<p>{{ mensagem }}</p>
</body>
</html>