{% extends 'base.html' %}

{% block titulo %}
    Favoritos
{% endblock %}

{% block conteudo %}

<h1>❤️ Meus Favoritos</h1>

{% if favoritos %}

<table>

    <tr>
        <th>Produto</th>
        <th>Preço</th>
        <th>Ação</th>
    </tr>

    {% for produto in favoritos %}

    <tr>

        <td>{{ produto.nome }}</td>

        <td>
            R$ {{ "%.2f"|format(produto.preco) }}
        </td>

        <td>

            <a href="{{ url_for('remover_favorito',
                                produto_id=produto.id) }}">
                ❌ Remover
            </a>

        </td>

    </tr>

    {% endfor %}

</table>

{% else %}

<p>Nenhum produto favoritado.</p>

{% endif %}

{% endblock %}