{% extends 'base.html' %}

{% block titulo %}
Professores
{% endblock %}

{% block conteudo %}
<h2>Equipe de Professores</h2>

<p>
    Nossa equipe é formada por profissionais qualificados e dedicados à educação. Com experiência e metodologias modernas, nossos professores oferecem aulas dinâmicas e incentivam o aprendizado, a criatividade e o desenvolvimento dos alunos.
</p>

<h2>Conheça nosso time:</h2>

<ul>
    <li>João Carlos</li>
    <li>Jaime Pereira</li>
    <li>Pedro Alvares Cabral</li>
</ul>

{% endblock %}